# Database
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME_FOR_SCRAPED_WEATHER_DATA=
DB_NAME_FOR_RAW_WEATHER_API_DATA=
DB_NAME_FOR_TRANSFORMED_WEATHER_API_DATA=
DB_CONN_RAW=postgresql://user:password@localhost:5432/dbname

# Weather API Keys
FORECA_API_KEY=
ACCUWEATHER_API_KEY=
METEOBLUE_API_KEY=
WEATHERBIT_API_KEY=
TOMMOROW_API_KEY=
OPENWEATHERMAP_API_KEY=
WEATHERAPI_API_KEY=

# Azure credentials
TENANT_ID=
CLIENT_ID=
CLIENT_SECRET=
ACCOUNT_URL=https://youraccount.dfs.core.windows.net
FILE_SYSTEM=

# Azure Data Lake paths
BASE_DIR_RAW=MyLakehouse/Meteo/raw
BASE_DIR_SILVER=MyLakehouse/Meteo/silver
BASE_DIR_GOLD=MyLakehouse/Meteo/gold/daily-forecast
BASE_DIR_FIVE_DAY_GOLD=MyLakehouse/Meteo/gold/five-day-forecast
BASE_DIR_DAILY_SUMM_GOLD=MyLakehouse/Meteo/gold/daily-summ-forecast
BASE_DIR_WEEKLY_SUMM_GOLD=MyLakehouse/Meteo/gold/weekly-summ-forecast
BASE_DIR_MONTHLY_SUMM_GOLD=MyLakehouse/Meteo/gold/monthly-summ-forecast
BASE_DIR_YEARLY_SUMM_GOLD=MyLakehouse/Meteo/gold/yearly-summ-forecast
BASE_DIR_SEASONALLY_SUMM_GOLD=MyLakehouse/Meteo/gold/seasonally-summ-forecast

# Prefect
PREFECT_API_URL=http://localhost:4200/api

# Project
PROJECT_DIR=